$('#job_<%= @job.id %>').remove();

<% if @job.active_job? %>
$('#active-jobs').append('<li id="job_<%= @job.id %>"><%= link_to @job.title, job_path(@job) %> from js</li>');
<% else %>
$('#inactive-jobs').append('<li id="job_<%= @job.id %>"><%= link_to @job.title, job_path(@job) %> from js</li>');
<% end %>
