<!DOCTYPE html>
<html>
  <head>
    <title>Mr. Fix-It!</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="header">
      <h1 class="page-title">Mr. Fix-It</h1>
      <h2>Crowd-sourced repairs!</h2>
    </div>
    <%= render 'layouts/navbar' %>
    <div class="container">
    <div class="flash-messages">
      <%= flash[:alert] %>
      <h3><%= flash[:notice] %></h3>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
